@page "{postId:int?}"
@model MessageBoard.Pages.Posts.AddPostModel
@{
    ViewData["Title"] = "AddPost";
}

<h2>Add a new post</h2>
<div class="panel">
    <div class="panel-body">
        <form method="post">

            <div class="form-group">
                <label asp-for="Post.Message">Post a Message</label>
                <textarea asp-for="Post.Message" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Post.Message"></span>

                <label asp-for="Post.c">Comment</label>
                <textarea asp-for="Post.c" class="form-control"></textarea>

            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>